<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button (click)="logout()" class="btn btn-danger">Logout</button>

  <button (click)="deleteAllNews()" class="ml-1 btn btn-danger">Delete All News</button>
</nav>


<div class="col-md-6 user-container">
  <h2 style="margin: auto"> Agency/Feed Details</h2>
  <hr>
  <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
    <button class="btn btn-success" style="width:100px" (click)="addItem()"> Add Item</button>
    <button class="btn btn-info ml-2" (click)="report()">Download Report</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Agency Name</th>
          <th>Category</th>
          <th>Feed URL</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          <div formArrayName="items" *ngFor="let item of getItem.controls; let i = index;">
            <tr [formGroupName]="i">
              <td>
                <input class="form-control" type="text" formControlName="agency" placeholder="Agency Name">
              </td>
              <td>
                <input class="form-control" type="text" formControlName="category" placeholder="Catogory">
              </td>
              <td>
                <input class="form-control" type="text" formControlName="url" placeholder="URL">
              </td>
              <td>
                <button [disabled]="checkIndex(i)" (click)="removeRow(i)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </div>
      </tbody>
    </table>

    <button class="btn btn-primary" [disabled]="!newsForm.valid" type="submit">Send Data</button>
  </form>
</div>