.user-container {
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
    margin-left: 200px;
  }

  .check {
    display: flex;
    flex-direction: row;
    position: center;
    justify-content: center;
  }

.width {
  width: 1000px;
}