.user-container {
    display: flex;
    flex-direction: column;
    position: center;
    justify-content: center;
  }

  .check {
    display: flex;
    flex-direction: row;
    position: center;
    justify-content: center;
  }